# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Build
src/zhlt-vluzacn/hlcsg/release
src/zhlt-vluzacn/hlbsp/release
src/zhlt-vluzacn/hlvis/release
src/zhlt-vluzacn/hlrad/release
src/zhlt-vluzacn/ripent/release
src/zhlt-vluzacn/bin

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.obj
*.exe
*.tlog
*.pdb
*.mdl
*.sdf
*.opendb
*.db
*.suo
*.log
*.idb
*.ilk
*.user
*.bmp
*.iobj
*.ipdb
*.ipch
*.res
*.exp
*.lastcodeanalysissucceeded
*.nativecodeanalysis.all.xml
*.nativecodeanalysis.xml
*.aps
*.bsc
